doctype html
html
    head
        title Inicio
        script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQKXbJN9BSYqtf1Fu9gZxHDNPkHP_857k&callback=initMap&libraries=&v=weekly" defer)
        link(rel="stylesheet" href="./css/styles.css")
        script(src="./js/maps.js")
    body
        header            
            div.HL               
                div                    
                    H1 Soy una placa brummmm        
        div#left
            #gmp-map
        div#right            
            each conductor in arrayUser                
                div                
                    a#home.button(href=`/placa/${conductor[1]}`) #{conductor[0]}                      